server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://mysql-enrollment:3306/enrollment_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

catalog-service:
  url: http://catalog-service:8081
